.top-bar {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
}

.choice {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.left {
    width: 20vw;
    text-align: center;
}

.center{
    width: 59vw;
    height: 70vh;
    border: 1px solid purple;
}

.right{
    width: 20vw;
    text-align: center;
}

.main {
    margin-top: 5vh;
    display: flex;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.bar {
    background-color: blue;
    flex: 1;
    margin-left: 0.5px;
    margin-right: 0.5px;
}